.Center { 
    margin: 0 auto;
    height: 100%;   
    text-align: center;
    display: flex;
    flex-direction: column;
    span { 
        margin-bottom: 12rem;
    }
}
.Login { 
    text-align: start;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    &__tittle  { 
        font-weight: bold;
        font-size:1.44rem;
        margin-bottom: 10px;
    }
    &__button { 
        font-weight: bold;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    &__Input { 
        border-radius: 10px;
    }
}
.main { 
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 1.5rem;
    height: 100%;
}

.Login-Container { 

}