.Home { 
    height: 100%;
}
.sidebar-div { 
    padding:13px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    span { 
       margin: auto; 
    }

}
.sidebar-userinfo { 
    margin: 10px 0;
    &__tittles  {
        text-align: center;
        h2 { 
            font-weight: bold;
        }
        h1 { 
            margin-bottom: 20px;
        }
    }
}
.Side-search { 
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.Media { 
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 0 25px;
}
.Media--button { 
    width: 30px;
}.topbar { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h3 { 
        color:white
    }
}
.topbar--buttons { 
    display: flex;
    flex-direction: row;
    h3 { 
        margin-right: 20px;
    }
}

.Main__content {
     display: flex;
     justify-content: center;
     margin: 0;
}
.nest-messages { 
    max-width: 1000px;
    margin: auto;
}
.edit-card {
    max-width: 900px;
    margin: 20px auto;
    width: 100%;
}