@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
  margin: 0;
  font-family: 'Muli';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root { 
  height: 100%;
}